/* Base */
:root {
    --sans-serif: 'Montserrat', sans-serif;
    --serif: 'Italiana', serif;
    --wine: #904951;
    --rose: #BA8187;
    --lt-rose: #f1d3d6;
    --xlt-rose: #f0dcde;
    --white: #fff;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--sans-serif);
    color: var(--wine);
    margin: 0 auto;
}

.container {
    height: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.anchor {
    scroll-margin-top: 0.5rem;
}

/* Typography */
h1, h2, h3 { color: var(--rose); }
a { color: var(--rose); text-decoration: none; }

/* Mobile */
@media screen and (min-width: 0px) {

    /* Base */
    body {
        font-size: 1rem;
        line-height: 1.38rem;
    }

    .container {
        padding: 1.875rem 2.0831rem;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    /* Decorative Line Between Sections */
    .decor-line img {
        width: 7.94rem;
        height: auto;
    }

    /* Typography */
    h1, h2, h3, a {
        -webkit-text-stroke: 0.06rem;
    }
    
    h1, h2, h3 {
        font-family: var(--serif);
        letter-spacing: 0.05rem;
    }

    h1, h2 { 
        font-size: 1.44rem; 
        line-height: 1.69rem;
        margin-bottom: 1.25rem;
        font-variant: small-caps;
    }

    h3 { 
        font-size: 1.06rem; 
        line-height: 1.25rem;
        margin-bottom: 0.50rem;
    }

    a {
        font-family: var(--serif);
        font-size: 1rem;
        line-height: 1.23rem;
        letter-spacing: 0.06rem;
    }

    /* Header */
    .site-header {
        /* width: 100vw; */
        height: 4.75rem;
    }

    .site-header .container {
        padding: 0 2.0831rem;
    }

    .site-header div.flex {
        align-items: center;
        justify-content: space-between;
    }

    .site-header__logo img {
        width: 4.8rem;
        height: auto;
    }

    /* Nav Menu */
    .site-header ul.flex {
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;
    }

    .site-header ul li {
        padding: 1rem;
    }

    .site-header ul li img {
        width: 4.8rem;
        height: auto;
        padding: 0.5rem;
        margin-bottom: 4rem;
    }

    .site-header__menu-icon a {
        line-height: 0;
        padding: 0.5rem;
        font-size: 1.4rem;
    }
    
    .site-header__menu {
        position: absolute;
        background-color: rgb(254, 248, 248);
        height: 100vh;
        width: 100vw;
        top: 0;
        right: 0;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0.4s ease-out;
    }

    .site-header__menu.open {
        transform: translateX(0);
    }

    .site-header__menu a {
        padding: 1rem;
    }

    .site-header__close {
        position: absolute;
        z-index: 2;
        right: 7%;
        top: 2.1%;
    }

    .site-header__close a {
        font-size: 1.4rem;
        padding: 0.5rem;
        opacity: 0.6;
    }

    ion-icon[name="menu-outline"] {
        font-size: 2rem;
        transform: scale(1,1.1);
    }

    ion-icon[name="close-outline"] {
        font-size: 2.2rem;
    }

    /* Footer */
    .site-footer__text-col,
    .site-footer__image-col {
        grid-column: auto / span 4;
    }

    .site-footer__text ul {
        font-family: var(--serif);
        font-size: 1.13rem;
        line-height: 2rem;
        color: var(--rose);
    }

    .site-footer__text ul li ul {
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: 0.06rem;
        -webkit-text-stroke: 0.04rem;
    }

    .site-footer__text ul li:last-child {
        margin-bottom: 1.56rem;
    }

    .site-footer__social-icons ul.flex {
        justify-content: flex-start;
    }

    .site-footer__social-icons img {
        width: 1.13rem;
        height: auto;
        padding-right: 1.7rem;
    }
    
    .site-footer__map img {
        aspect-ratio: 1 / 1;
        width: 100%;
        object-fit: cover;
        object-position: right;
        margin: 1.25rem 0;
    }

    .site-footer__copyright {
        font-size: 0.75rem;
        line-height: 1.19rem;
    }

    /* Home Banner */
    .home-banner {
        height: 100vh;
        background: url('../images/hero-img.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left 20%;
        position: relative;
        margin-bottom: 1.875rem;
    }

    .home-banner__text {
        margin-top: 35%;
        grid-column: 2 / span 3;
        text-align: right;
        padding-right: 0.5rem;
    }

    .home-banner__text p {
        font-family: var(--serif);
        font-size: 2rem; 
        line-height: 2.2rem;
        letter-spacing: 0.15rem;
        color: var(--rose);
        font-variant: small-caps;
        margin-bottom: 2rem;
        -webkit-text-stroke: 0.04rem;
    }

    .home-banner__text a {
        font-size: 1.4rem;
        font-variant: small-caps;
        background-color: var(--white);
        color: var(--wine);
        border: none;
        border-radius: 0.15rem;
        padding: 0.8rem 1.8rem;
        display: inline-block;
        line-height: 1.75rem;
        -webkit-text-stroke: 0.04rem;
    }

    .home-banner__text a:hover {
        background-color: var(--xlt-rose);
    }

    /* Intro */
    .intro__text {
        grid-column: auto / span 4;
    }

    /* Menu */
    .menu__title {
        grid-column: auto / span 4;
    }

    .menu__title p {
        padding-bottom: 1rem;
    }

    .menu__content {
        grid-column: auto / span 4;
        margin-bottom: 1.75rem;
    }

    .menu__content:last-child {
        margin-bottom: 0;
    }
    .menu__image img {
        aspect-ratio: 1 / 1;
        width: 100%;
        object-fit: cover;
        margin-bottom: 1.25rem;
    }

    .menu__text p:last-child {
        font-style: italic;
    }

    /* fslightbox Gallery */
    .gallery__image {
        grid-column: auto / span 4;
    }

    .gallery__image img {
        aspect-ratio: 1 / 1;
        width: 100%;
        object-fit: cover;
        margin-bottom: 1.25rem;
        vertical-align: top;
    }

    .gallery__image img:hover {
        opacity: 0.7;
    }

    .gallery__image:last-child {
        margin-bottom: 0;
    }
    
}

/* Tablet */
@media screen and (min-width: 768px) {

    /* Base */
    body {
        font-size: 1.06rem;
        line-height: 1.44rem;
    }

    .container {
        padding: 3rem 2.06rem;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
    }

    /* Decorative Line Between Sections */
    .decor-line img {
        width: 14rem;
        height: auto;
    }

    /* Typography */
    h1, h2, h3, a, ul {
        -webkit-text-stroke: 0.04rem;
    }

    h1, h2, h3 {
        font-family: var(--serif);
    }

    h1, h2 { 
        font-size: 1.75rem; 
        line-height: 2.06rem;
        letter-spacing: 0.1rem;
        margin-bottom: 1.25rem;
        font-variant: small-caps;
    }

    h3 {
        font-size: 1.25rem; 
        line-height: 1.48rem;
        margin-bottom: 1.25rem;
    }

    a {
        font-size: 1.25rem;
    }
    
    /* Header */
    .site-header {
        height: 5.63rem;
    }

    .site-header .container {
        padding: 0 2.06rem;
    }

    .site-header__logo img {
        width: 6.06rem;
        height: auto;
    }

    /* Nav Menu */
    .site-header ul li:not(:first-child) {
        padding: 1.25rem;
    }

    .site-header ul li:last-child {
        margin-bottom: 6rem;
    }

    .site-header ul li img {
        width: 6.06rem;
        height: auto;
        margin-bottom: 3rem;
    }

    .site-header__menu {
        height: auto;
    }

    .site-header__menu-icon a {
        font-size: 1.8rem;
    }

    .site-header__close {
        right: 4%;
        top: 2%;
    }

    .site-header__close a {
        font-size: 1.8rem;
    }

    /* Footer */
    .site-footer .grid {
        grid-template-rows: repeat(4, 1fr);
    }

    .site-footer__text-col {
        grid-column: auto / span 4;
        grid-row: auto / span 4;
    }

    .site-footer__text h2 {
        margin-bottom: 2.5rem;
    }
    
    .site-footer__social-icons img {
        width: 1.13rem;
        height: auto;
        padding: 2rem 1.7rem 0 0;
    }
    
    .site-footer__image-col {
        grid-column: 6 / span 7;
        grid-row: auto / span 4;
    }

    .site-footer__map img {
        margin: 0 0 0.75rem;
    }

    .site-footer__copyright p {
        text-align: right;
    }

    /* Home Banner */
    .home-banner {
        height: 30.56rem;
        background: url('../images/hero-img.jpg');
        background-size: cover;
        background-position:  left;
        position: relative;
        margin-bottom: 2.5rem;
    }

    .home-banner__text {
        margin-right: 1rem;
        margin-top: 8rem;
        text-align: right;
        grid-column: 6 / span 7;
    }

    .home-banner__text p {
        font-family: var(--serif);
        font-size: 2.5rem; 
        line-height: 2.06rem;
        letter-spacing: 0.15rem;
    }

    .home-banner__text a {
        background-color: var(--xlt-rose);
        border: none;
        border-radius: 0.15rem;
        padding: 0.8rem 1.8rem;
        line-height: 1.75rem;
        display: inline-block;
    }
    
    .home-banner__text a:hover {
        background-color: var(--lt-rose);
    }

    /* Intro */
    .intro__text {
        grid-column: 2 / span 10;
        text-align: center;
    }

    .intro__text p {
        line-height: 1.8rem;
    }

    /* Menu */
    .menu__title {
        grid-column: auto / span 12;
        text-align: center;
    }

    .menu__title p {
        padding-right: 6rem;
        padding-left: 6rem;
    }

    .menu__content {
        margin-bottom: 2.5rem;
    }

    /* fslightbox Gallery */
    .gallery__title {
        grid-column: auto / span 12;
        text-align: center;
    }

    .gallery__image,
    .gallery__image img {
        margin-bottom: 0;
    }

}

/* Prevent nav animation from flickering
when resizing from desktop to tablet */
@media screen and (min-width: 1180px) {

    .site-header__menu {
        transition: unset;
    }

}

/* Desktop */
@media screen and (min-width: 1200px) {

    /* Base */
    body {
        font-size: 1.05rem;
        line-height: 1.88rem;
    }

    .container {
        max-width: 64rem;
        margin: 0 auto;
        padding: 4rem 0;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1.25rem;
    }

    /* Typography */
    h1, h2, h3, a, ul {
        font-family: var(--serif);
        -webkit-text-stroke: 0.04rem;
    }

    h1, h2 { 
        font-size: 2.4rem; 
        line-height: 3.53rem;
        letter-spacing: 0.1rem;
        margin-bottom: 1.88rem;
        font-variant: small-caps;
    }

    h3 {
        font-size: 1.3rem; 
        line-height: 1.69rem;
        margin-bottom: 0.5rem;
        letter-spacing: 0.06rem;
    }

    a {
        text-decoration: none;
        font-size: 1.1rem; 
        line-height: 1.75rem;
        margin-bottom: 0.5rem;
    }

    /* Header */
    .site-header {
        height: 6rem;
    }

    .site-header .container {
        padding: 0 5rem;
    }

    .site-header__logo img {
        width: 6.44rem;
        height: auto;
    }
    
    /* Nav Menu */
    .site-header ul.flex {
        flex-direction: row;
        gap: 2.5rem
    }

    .site-header__menu ul li {
        padding-left: 4.31rem;
    }

    .site-header ul li:last-child {
        margin-bottom: unset;
    }

    .site-header ul li img {
        display: none;
    }

    .site-header__menu {
        background-color: unset;
        position: unset;
        width: unset;
        height: unset;
        transform: unset !important;
        transition: unset !important;
    }

    .site-header__menu a {
        padding: unset;
    }

    .site-header__close,
    .site-header__menu-icon {
        display: none;
    }

    /* Footer */
    .site-footer .grid {
        grid-template-rows: repeat(4, 1fr);
    }

    .site-footer__text-col {
        grid-column: auto / span 4;
        grid-row: auto / span 4;
    }

    .site-footer__text h2 {
        margin-bottom: 3.94rem;
    }
    
    .site-footer__text ul {
        line-height: 2rem;
    }

    .site-footer__text ul li ul li {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    .site-footer__social-icons img {
        width: 2.06rem;
        height: auto;
        padding: 3rem 1.5rem 0 0;
    }
    
    .site-footer__image-col {
        grid-column: 5 / span 8;
        grid-row: auto / span 4;
    }

    .site-footer__map img {
        aspect-ratio: 4 / 3;
        width: 100%;
        object-fit: cover;
        object-position:  top right;
        margin: 0 0 1rem;
    }

    .site-footer__copyright p {
        font-size: 0.8125rem;
    }

    /* Home Banner */
    .home-banner {
        height: 60vh;
        background: url('../images/hero-img.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        margin-bottom: 3.4rem;
    }

    .home-banner__text {
        margin-right: 1rem;
        margin-top: 5rem;
        text-align: right;
        grid-column: 8 / span 6;
    }

    .home-banner__text p {
        font-family: var(--serif);
        font-size: 2.8rem; 
        line-height: 2.5rem;
        letter-spacing: 0.15rem;
        margin-bottom: 2.5rem;
        color: var(--rose);
    }

    .home-banner__text a {
        font-size: 1.4rem;
        background-color: var(--xlt-rose);
        border: none;
        border-radius: 0.15rem;
        padding: 0.8rem 1.8rem;
        display: inline-block;
    }

    .home-banner__text a:hover {
        background-color: var(--lt-rose);
    }

    /* Intro */
    .intro__text {
        grid-column: 3 / span 8;
        text-align: center;
    }

    .intro__text h1 {
        margin-bottom: 1.875rem;
    }

    /* Menu */
    .menu__content {
        margin-bottom: 3.75rem;
    }

    .menu__content p {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .menu__title p {
        margin: 0 auto;
        max-width: 42rem;
    }

    .menu__content:first-child {
        grid-column: auto / span 3;
    }

    .menu__content:nth-child(2) {
        grid-column: auto / span 3;
    }

    .menu__content:nth-child(3) {
        grid-column: auto / span 3;
    }

    .menu__content:nth-child(4) {
        grid-column: auto / span 3;
    }

    .menu__content:nth-child(5) {
        grid-column: auto / span 6;
        margin-bottom: 0;
    }
    .menu__content:nth-child(6) {
        grid-column: auto / span 6;
        margin-bottom: 0;
    }

    /* fslightbox Gallery */
    .gallery__image {
        grid-column: auto / span 3;
    }

    .gallery__image:nth-child(3),
    .gallery__image:nth-child(4) {
        grid-column: auto / span 6;
        grid-row: auto / span 2;
    }
    
}